%tr
  %td= residence_report.zipcode
  %td= residence_report.city
  %td= residence_report.country_code
  %td= residence_report.unit
  %td= residence_report.construction_year
  %td= residence_report.report_date
  %td= residence_report.energy_performance
  %td{ class: "class-#{residence_report.energy_class.downcase}"}
    = residence_report.energy_class
  %td= residence_report.thermal_insulation
  %td{ class: "class-#{residence_report.thermal_class.downcase}"}
    = residence_report.thermal_class
  %td
    %a{href: client_residence_reports_path(residence_report.client) }
      = residence_report.client.fullname
  %td.col-xs-2
    = dropdown 'Actions', split: true, size: :small do
      = link_to client_residence_report_path(residence_report.client, residence_report) do
        %i.fa.fa-list
        Voir
      = link_to client_residence_report_path(residence_report.client, residence_report, format: :pdf) do
        %i.fa.fa-file-text-o
        Exporter


