.page-header
  - if @client
    %h1 Gestion des rapports - Client #{@client.fullname}
  - else
    %h1 Gestion des rapports

%table.table.table-condensed.table-bordered
  %thead
    %tr
      %th= t('zipcode', scope: 'simple_form.labels.residence_report')
      %th= t('city', scope: 'simple_form.labels.residence_report')
      %th= t('country_code', scope: 'simple_form.labels.residence_report')
      %th= t('unit', scope: 'simple_form.labels.residence_report')
      %th= t('construction_year', scope: 'simple_form.labels.residence_report')
      %th= t('report_date', scope: 'simple_form.labels.residence_report')
      %th= t('energy_performance', scope: 'simple_form.labels.residence_report')
      %th= t('energy_class', scope: 'simple_form.labels.residence_report')
      %th= t('thermal_insulation', scope: 'simple_form.labels.residence_report')
      %th= t('thermal_class', scope: 'simple_form.labels.residence_report')
      %th= t('client_', scope: 'simple_form.labels.residence_report')
      %th
        / actions
  %tbody
    = render @residence_reports
