-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = logo('50', 'mt10')
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
      %ul.nav.navbar-nav.pull-right
        - if user_signed_in?
          %li= link_to 'Mon compte', edit_user_registration_path
          %li= link_to 'Déconnexion', destroy_user_session_path, :method=>'delete'
        - else
          %li= link_to 'Connexion', new_user_session_path

